<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{currentUser.firstName}}</mat-card-title>
        <mat-card-subtitle>Utilisateur</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <h3>All registered users:</h3>
        <ul>
            <li *ngFor="let user of users">
                {{user.username}} ({{user.firstName}} {{user.lastName}})
                - <a (click)="deleteUser(user.id)" mat-button color="warn">Delete</a>
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="['/login']" mat-raised-button color="warn">Logout</a>
    </mat-card-actions>
</mat-card>